//output: games.html
doctype html
html
  header
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Test Game
    link(rel="stylesheet" href="css/game.css")
    
  body
    .container
      .frame
        .game-left-wrap.item.count
          img(src="image/game1.png")
        .game-right-wrap.item.count
          img(src="image/game2.png")

          script(src="javascript/jquery.js")
          script(src="javascript/index.js")
