//output: end.html
doctype html
html
  header
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Test Game
    link(rel="stylesheet" href="css/end.css")
    link(rel="stylesheet" href="css/index.css")
    script(src="javascript/taffy.js")
    script(src="javascript/jqeury.js")
    script(src="javascript/index.js")
    
  body
    div.wrap
      section.question
        h1#question 
        input(type="button" value="重新開始" class="endbtn")
